<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>

    <section>
        <h1>Bag</h1>

        <div class="row m-1" >
            <div class="col sm-8">
                <th:block th:each="bag, status : ${bagItems}">
                    <div class="row border rounded" th:with="book = ${bag.book}" style="margin-left: 10%">
                        <div class="col-2">
                            <div>[[${status.count}]]</div>
                            <div><a th:href="@{/}">Remove</a></div>
                        </div>
                        <div class="col-6">
                            <div>
                                <h3 class="card-title" >[[${bag.book.name}]]</h3>
                            </div>
                            <div><input type="number" th:value="${bag.orderQuantity}" class="form-control-6"/></div>
                            <div>
                                <span>X</span>
                                <span>[[${bag.book.price}]] BYN</span>
                            </div>
                            <div>
                                <span>=</span><span class="h3"> [Subtotal]</span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-1">&nbsp</div>
                </th:block>
            </div>
            <div class="col-sm-4">
                <div>
                    <span class="h3">Estimated total:</span>
                </div>
                <div class="mt-2">
                    <span class="h2">[Total Amount:]</span>
                </div>
                <div class="mt-2">
                    <button class="btn btn-danger">Check Out</button>
                </div>
            </div>
        </div>

        <th:block th:if="${#lists.isEmpty(bagItems)}">
            <h3>Your card is empty</h3>
        </th:block>



    </section>

</body>
</html>