<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>

    <section>

        <div class="container">

            <div class="row" style="margin: 10px">
            <h1>Bag</h1>
            </div>

            <div class="row m-1" >
                <div class="col sm-8">
                    <th:block th:each="bag, status : ${bagItems}">
                        <div class="row border rounded" th:with="book = ${bag.book}" style="margin-left: 10%">
                            <div class="col-2">
                                <div>[[${status.count}]]</div>
                                <!--<div><a th:href="@{/bag/remove/{idBag}(idBag=${bag.idBag})}">Remove</a></div>-->
                            </div>
                            <div class="col-6">
                                <div>
                                    <h3 class="card-title" >[[${bag.book.name}]]</h3>
                                </div>
                                <div>
                                    <h4 class="card-title" >[[${bag.book.author}]]</h4>
                                </div>

                            <!-- <label for="orderQuantity" class="col-sm-2 col-form-label">Quantity</label>
                                <div class="col-sm-4 input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="minus-btn">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </span>
                                    <input type="number" class="form-control text-center" id="orderQuantity"
                                           name="orderQuantity" style="max-width: 55px"
                                            th:value="1" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="plus-btn">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </span>
                                </div> -->

                                <div>
                                    <!-- <span>X</span> -->
                                    <span>[[${bag.book.price}]] BYN</span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-1">&nbsp</div>
                    </th:block>
                </div>

                <!-- <div class="col-sm-4" th:unless="${#lists.isEmpty(bagItems)}">
                    <div>
                        <span class="h3">Estimated total:</span>
                    </div>
                    <div class="mt-2">
                        <span class="h2" id="totalAmount">[Total Amount:]</span>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-danger">Check Out</button>
                    </div>
                </div> -->

                <th:block th:if="${#lists.isEmpty(bagItems)}">
                    <h3>Your card is empty</h3>
                </th:block>

            </div>

        </div>

    </section>
    <!-- <script src = "https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity = "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossOrigin = "anonymous">
                var minusBtn = document.getElementById("minus-btn");
                var plusBtn = document. getElementById("plus-btn");
                var capacityField = document.getElementById("orderQuantity");

                minusBtn.addEventListener("click", function () {
                if (capacityField. value > 1) {
                capacityField.value--;
            }
        });
            plusBtn. addEventListener("click", function () {
            capacityField.value++;
        });
    </script> -->
</body>
</html>