<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center fs-4">Delete Profile?</div>
                        <th:block th:if="${session.msg}">
                            <p class="text-center fs-4 text-success">[[${session.msg}]]</p>
                            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                        </th:block>
                        <div class="card-body" style="margin: 1%;">
                            <form action="deleteUserAccount" method="POST">
                                <div class="mb-3">
                                    <label>Введите пароль для подтверждения</label>
                                    <input type="password" name="password" class="form-control">
                                </div>
                                <button class="btn btn-danger col-md-12">Delete</button>
                                <div class="text-center mt-2">
                                    <a href="/user/" style="margin: 5px 0" class="text-decoration-none fs-7">Go back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>