<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Profile Page</title>

    <style>

        * {
        font-family: 'Libre Baskerville', serif;
        font-size: 16px;
        line-height: 1.4;
    }

        .btn-primary {
            color: #fff3d6
        }
        .btn-primary:hover {
            color: #fff3d6
        }


    </style>

</head>
<body>

    <section>

        <div class="position-relative">
            <div class="position-absolute top-0 start-50 translate-middle-x">

                <div class="card" style="width: 35rem; margin-top: 10%">
                    <div class="card-body">
                        <h3 class="card-title">My Profile</h3>
                        <h4 class="card-subtitle mb-6 text-muted">User</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Name : [[${user.firstName}]]</li>
                                <li class="list-group-item">LastName : [[${user.lastName}]]</li>
                                <li class="list-group-item">Email : [[${user.email}]]</li>
                                <li class="list-group-item">Mobile Number : [[${user.mobileNumber}]]</li>
                            </ul>
                        <a th:href="@{/editProfile}" style="margin: 10px 0" class="btn btn-dark">Edit Profile</a>
                        <a th:href="@{/user/deleteUser}" style="margin: 10px 0" class="btn btn-dark">Delete Profile</a>

                    </div>
                </div>

            </div>
        </div>

    </section>

</body>
</html>