<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Book Shop</title>
</head>
<body>

    <section>

        <h1 style="margin: 1%">Books</h1>
        <th:block th:if="${session.msg}">
            <p class="text-center fs-4 text-success">[[${session.msg}]]</p>
            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
        </th:block>
        <div class="row">
            <div class="col-md-6" th:each="book : ${books}">
                <div class="card mb-3" style="width: 30rem; margin-left: 10%">
                    <!-- <img th:src="${book.image}" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h3 class="card-title">[[${book.name}]]</h3>
                        <p class="card-text">[[${book.author}]]</p>
                        <p class="card-text">[[${book.price}]] BYN</p>

                        <th:block th:if="${user==NULL}">

                            <!--<label for="orderQuantity" class="col-sm-2 col-form-label">Quantity</label>
                            <div class="col-sm-4 input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="minus-btn0">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </span>
                                <input type="number" class="form-control" id="orderQuantity0" name="orderQuantity"
                                       value="1" required>
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="plus-btn0">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </span>
                            </div> -->

                            <a href="signin" class="btn btn-dark" style="margin-top: 2%; margin-left: 70%">Add to bag</a>
                        </th:block>

                        <th:block th:if="${user!=NULL}">

                            <label th:for="orderQuantity" class="col-sm-2 col-form-label">Quantity</label>
                                <div class="col-sm-4 input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="minus-btn">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </span>
                                    <input type="number" class="form-control text-center" th:id="orderQuantity"
                                       name="orderQuantity" style="max-width: 55px"
                                       th:value="1" required />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="plus-btn">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </span>
                            </div>

                            <a th:href="@{/user/bag/{id}(id=${user.id})/add/{idBook}/{orderQuantity}(idBook=${book.idBook},orderQuantity=${orderQuantity})}"
                               class="btn btn-dark"
                               style="margin-top: 2%; margin-left: 70%">Add to bag</a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <script src = "https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity = "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossOrigin = "anonymous">
            var minusBtn = document.getElementById("minus-btn");
            var plusBtn = document. getElementById("plus-btn");
            var capacityField = document.getElementById("orderQuantity");

            minusBtn.addEventListener("click", function () {
                if (capacityField. value > 1) {
                    capacityField.value--;
                }
            });
            plusBtn. addEventListener("click", function () {
                capacityField.value++;
            });
        </script>

    </section>

</body>
</html>