<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>

    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Login Page</div>

                    <div th:if="${param.error}" class="alert alert-danger">
                        Invalid username & Password</div>

                    <div th:if="${param.logout}" class="alert alert-success">
                        Logout successfully</div>

                    <div class="card-body">
                        <form action="/login" method="post">

                            <div class="mb-3">
                                <label>Enter Email</label>
                                <input type="email" name="username" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label>Enter Password</label>
                                <input type="password" name="password" class="form-control">
                            </div>
                            <button class="btn btn-dark col-md-12">Login</button>
                        </form>

                        <div class="text-center mt-2">
                            <a href="register" style="margin: 5px 0" class="btn btn-dark">Register</a>
                            <a href="loadForgotPassword" style="margin: 5px 0" class="text-decoration-none fs-7">Forgot Password</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</section>


</body>
</html>