<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <section>

        <div class="container p-3">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center fs-4">Register Page</div>

                        <th:block th:if="${session.msg}">
                            <p class="text-center fs-4 text-success">[[${session.msg}]]</p>
                            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                        </th:block>

                        <div class="card-body">
                        <form action="createUser" method="post">
                            <div class="mb-3">
                                <label>Enter First Name</label>
                                <input type="text" name="firstName" required pattern="[A-Za-zА-Яа-яёЁ]{2,}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Enter Last Name</label>
                                <input type="text" name="lastName" required pattern="[A-Za-zА-Яа-яёЁ]{2,}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Enter Email</label>
                                <input type="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Enter Mobile Number</label>
                                <input type="tel" name="mobileNumber" required pattern="^\+?\d{12,13}$" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label>Enter Password</label>
                                <input type="password" name="password" required pattern="[A-Za-zА-Яа-яёЁ-0-9]{4,}" class="form-control">
                            </div>
                            <button class="btn btn-dark col-md-12">Register</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </section>



</body>
</html>